/*style.css*/
.section1 {
  background: url(../img/bg.png);
}

.section-left {
  width: 530px;
}
.section-right {
  width: 425px;
}
.section-title {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-weight: bold;
  color: #444;
  padding: 15px 0;
  border-bottom: 1px solid #d8dadb;
  margin-bottom: 4.5px;
}

.myClass {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.myClass .section-title {
  color: #fff;
}
.myClass .classStatus {
  width: 175px;
  height: 194px;
  background: url(../img/myClass_red.png) no-repeat;
  font-size: 26px;
  line-height: 30px;
  color: #fff;
  font-weight: bold;
  padding: 21px 0 0 29px;
}
.myClass .yearRecord {
  width: 352px;
  height: 194px;
  background: #475c9b;
  border: 1px solid #374a81;
  padding: 7px 35px;
  color: #fff;
}
.myClass .yearRecord div {
  border-color: #374a81;
}
.myClass .yearRecord a img {
  fill: #c7d0df;
}
.myClass .yearRecord dl {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.myClass .yearRecord dl > * {
  margin: 12.5px 0;
}
.myClass .yearRecord dl dt {
  font-size: 12px;
  color: #c7d0df;
  width: 88px;
  letter-spacing: -0.3px;
}
.myClass .yearRecord dl dd {
  font-size: 16px;
  letter-spacing: -0.8px;
}
.myClass .myClassList {
  display: flex;
  justify-content: space-between;
  margin-top: 2px;
  width: 100%;
}
.myClass .myClassList .MCItem {
  width: 175px;
  height: 168px;
  background: #fff;
  box-shadow: 0px 2px 0 0 rgba(0, 0, 0, 0.1);
  border: 1px solid #cac7c0;
}
.myClass .myClassList .MCItem > * {
  display: flex;
}
.myClass .myClassList .MCItem .MC_top {
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 102px;
  padding-bottom: 14px;
}
.myClass .myClassList .MCItem .MC_top p {
  font-size: 16px;
  font-weight: bold;
  color: #444;
  margin-top: 6px;
}
.myClass .myClassList .MCItem .MC_bottom {
  height: 66px;
  background: url(../img/MC_bg.png);
  padding: 9px 0 13px;
  color: #997c68;
  justify-content: center;
}
.myClass .myClassList .MCItem .MC_bottom div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 0 4px;
}
.myClass .myClassList .MCItem .MC_bottom div span {
  font-size: 13px;
  letter-spacing: -0.94px;
}
.myClass .myClassList .MCItem .MC_bottom div p {
  font-size: 22px;
  font-weight: bold;
}
.myClass .myClassList .MCItem .MC_bottom div p.ko {
  font-size: 17px;
  height: 21px;
}

.weekClass {
  background: #fff;
  padding: 7px 35px;
  box-shadow: 0px 2px 0 0 rgba(0, 0, 0, 0.1);
}
.weekClass .section-title img {
  color: #a7a7a7;
}
.weekClass .bookArea {
  padding: 12.5px 15px 17px 0;
  display: flex;
}
.weekClass .bookArea .imgBox {
  margin-right: 25px;
}
.weekClass .bookArea .imgBox img {
  border: 1px solid #bfbfbf;
}
.weekClass p {
  word-break: keep-all;
  letter-spacing: -0.7px;
}
.weekClass .titleArea {
  font-size: 15px;
  line-height: 20px;
  font-weight: bold;
  color: #003875;
}
.weekClass .detailArea {
  font-size: 14px;
  line-height: 18px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-top: 10px;
  color: #626262;
}
.weekClass ul {
  max-width: 355px;
}
.weekClass ul li {
  width: 100%;
  padding: 10px 0;
  border-top: 1px solid #ededed;
}
.weekClass ul li:first-child {
  padding-top: 5px;
  border: none;
}
.weekClass ul li a {
  color: #626262;
  display: inline-flex;
  max-width: 100%;
}
.weekClass ul li a span {
  margin-right: 7px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.section2 {
  padding-top: 31px;
}
.section2 .section-title {
  font-size: 23px;
  margin-bottom: 0;
}
.section2 .section-top {
  border: 1px solid #dcdcdc;
  box-shadow: 0px 3px 0 0 rgba(0, 0, 0, 0.05);
}
.section2 .section-top .section-title {
  border: none;
}
.section2 .section-bottom {
  margin-top: 33px;
  padding: 8px 35px 0;
  background: #f9f9f9;
  border: 1px solid #e9e9e9;
  box-shadow: 0px 3px 0 0 rgba(0, 0, 0, 0.05);
}

.processAppli {
  padding: 10px 35px;
}

.myProcess {
  padding: 10px 35px 0 33px;
  background: #f8fafb;
  position: relative;
}

.PATab {
  margin-top: 9px;
  position: relative;
  height: 200px;
  display: flex;
}
.PATab > li > button {
  display: block;
  width: 230px;
  height: 40px;
  background: #d7dee6;
  color: #6a7a8a;
  font-size: 16px;
  font-weight: bold;
}
.PATab > li > button img {
  margin-right: 5px;
  display: none;
}
.PATab > li.on > button {
  background: #fff;
  border: 3px solid #475c9b;
  border-bottom: none;
  line-height: 34px;
  color: #475c9b;
}
.PATab > li.on > button img {
  display: inline;
}
.PATab > li.on .PAList {
  display: block;
}

.PAList {
  display: none;
  position: absolute;
  left: 0;
}
.PAList li {
  margin: 18px 0 19px;
  padding-left: 12px;
  position: relative;
  display: flex;
}
.PAList li::before {
  content: "";
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: #9a9c9e;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.PAList li a {
  display: block;
  letter-spacing: -0.75px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 375px;
}
.PAList li button {
  border: 1px solid #dc5656;
  color: #ca5a5a;
  font-size: 13px;
  background: #fff;
  width: 43px;
  height: 20px;
  margin-left: 6px;
}
.PAList li button:first-child {
  margin-left: 10px;
}
.PAList li button.purple {
  border-color: #ac4dbd;
  color: #9859a3;
}

.MPTab {
  margin-top: 9px;
  height: 200px;
  display: flex;
}
.MPTab > li > button {
  display: block;
  width: 130px;
  height: 40px;
  background: #d7dee6;
  color: #6a7a8a;
  font-weight: bold;
  border-left: 1px solid #f8fafb;
  font-size: 15px;
}
.MPTab > li > button img {
  fill: #444;
  margin-right: 2px;
  display: none;
}
.MPTab > li.on > button {
  background: #eaeef2;
  color: #444;
}
.MPTab > li.on > button img {
  display: inline;
}
.MPTab > li.on .MPList {
  display: block;
}

.MPList {
  display: none;
  position: absolute;
  left: 0;
  padding: 20px 0 0 35px;
  background: #eaeef2;
  width: 100%;
  height: 170px;
}
.MPList li a {
  display: inline-flex;
  color: #444;
  margin-bottom: 20px;
  max-width: 375px;
}
.MPList li a span {
  font-size: 13px;
  width: 87px;
  flex-shrink: 0;
}
.MPList li a p {
  font-size: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.noticeList {
  margin: 22px 0 35px;
}
.noticeList li {
  margin-bottom: 20px;
}
.noticeList li a {
  display: flex;
  justify-content: space-between;
}
.noticeList li a span {
  font-size: 15px;
  color: #666;
}
.noticeList li a span.date {
  color: #aaa;
}

.sentence {
  text-align: center;
}

.sentenceArea {
  height: 158px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.sentenceArea .englishSentence {
  font-size: 26px;
  color: #269c36;
  margin-bottom: 17px;
}
.sentenceArea .koreanSentence {
  font-size: 16px;
  color: #505055;
  font-weight: bold;
}

.sentenceButton {
  width: 90px;
  height: 27px;
  background: #666a75;
  border-radius: 3px;
  color: #fff;
  font-size: 12px;
}

.section3 {
  padding: 10px 0 83px;
}

.bannerWrap {
  width: 990px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.bannerWrap .banner {
  position: relative;
  width: 320px;
  height: 135px;
  color: #fff;
  text-align: center;
  padding-top: 23px;
}
.bannerWrap .banner img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.bannerWrap .banner p {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 13px;
}
.bannerWrap .banner span {
  font-size: 13px;
  position: relative;
  color: rgba(255, 255, 255, 0.8);
}
.bannerWrap .banner span::after {
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  left: 0;
  bottom: -7px;
  background: rgba(255, 255, 255, 0.8);
}

footer {
  border-top: 1px solid #d0d0d0;
}

.footerWrap {
  width: 990px;
  margin: 0 auto;
  padding: 30px 0 40px;
  display: flex;
  position: relative;
}
.footerWrap .footerDetail {
  margin: 3px 0 0 23px;
  font-size: 13px;
  color: #666;
  letter-spacing: -0.65px;
  line-height: 1.5;
}
.footerWrap .footerDetail > * {
  margin-bottom: 24px;
}
.footerWrap .footerDetail > *:nth-child(2) {
  margin-bottom: 17px;
}
.footerWrap .footerDetail > *:last-child {
  margin-bottom: 0;
}
.footerWrap button {
  position: absolute;
  right: 0;
  width: 168px;
  height: 29px;
  background: #909090;
  border-radius: 14.5px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footerWrap button img {
  margin-right: 4px;
}

/*# sourceMappingURL=style.css.map */
